body {
    font-family: Verdana, Geneva, Ariel, sans-serif;
    width:  900px;
}

header {
    background-color:red;
    color: white;
    padding: 30px 10px 30px 40px;
    text-align: center;
    font-size: 36px;
    margin: 0 auto;
}

#startingBox {
    text-align: center; 
    margin: 0px auto; 
    background-color: green;
    color: white;
    width: 150px;
}

#gameStart {
    font-size: 36px;
}

#back-img {
    height: 600px;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: 900px 560px;
}

#timeRemaining {
    text-align: center; 
    margin: 0px auto;
    background-color: yellow;
    width: 400px;
}

#doneBox {
    text-align: center; 
    margin: 0px auto; 
    background-color: green;
    color: white;
    width: 150px;
}

#checkAnswers {
    font-size: 36px; 
}

#resultsBox {
    text-align: center; 
    font-size: 36px;
    margin: 50px auto;
}

.h2 {
    border: thin solid black;
    padding-top: 20px;
    text-align: center;
}

.questions {
    text-align: center;
}

.answers {
    text-align: center;   
    padding-bottom: 30px;
}
