body {
    font-family: Verdana, Geneva, Ariel, sans-serif;
    width:  900px;
}

header {
    border: thin solid black;
    background-color:red;
    color: white;
    /* padding: 30px 10px 30px 40px; */
    text-align: center;
    font-size: 36px;
    margin: 0 auto;
    background-image: url(assets/images/f1_logo.svg);
    background-repeat: no-repeat;
    background-position: top left;
}

#startingPoint {
    border: thin solid black;
    padding: 30px 10px 30px 40px;
    text-align: center; 
    margin: 50px auto; 
    background-color: green;
    width: 400px;
}

#timeRemaining {
    text-align: center; 
}

#doneBox {
    border: thin solid black;
    padding: 30px 10px 30px 40px;
    text-align: center; 
    margin-top: 30px;   
}

#resultsBox {
    border: thin solid black;
    /* padding: 30px 10px 30px 40px; */
    text-align: center; 
    font-size: 36px;
    margin: 50px auto;
    width: 450px;
}

.h2 {
    border: thin solid black;
    padding-top: 20px;
    text-align: center;
}

.questions {
    text-align: center;
}

.answers {
    text-align: center;   
}